* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.app {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.select-time, .select-sound, .select-player {
    height: 80%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.select-player {
    position: relative;
}

.select-player svg {
    position: absolute;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.select-time {
    background: lightseagreen;
}

.select-sound {
    background: lightcoral;
}

.select-player {
    background: cornflowerblue;
}

.video {
    display: none;
}